<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <title>Contacts</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <div class="content">
        <div class="form-register">
            <form method="POST">
                <fieldset>
                    <label for="name">Nome:</label>
                    <input type="text" name="name" placeholder="Informe o nome do cliente" required>
                    <label for="phone">Telefone:</label>
                    <input type="number" name="phone" placeholder="Informe o telefone" required>

                    <button type="submit" id="btnSave">Salvar</button>
                    <button type="reset" id="btnReset">Cancelar</button>
                </fieldset>
            </form>
        </div>

        <h1>Lista de contatos</h1>
    
        <div class="contact-list">
            <table class="contact-table">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Ação</th>
                </tr>

                
                <% client.forEach(function(clients) { %>
                    <th>Cliente: <%= clients.name %></th>
                    <% clients.contacts.forEach(function(contacts) { %>
                    <tr>
                        <td><%= contacts.id %></td>
                        <td><%= contacts.name %></td>
                        <td><%= contacts.phone %></td>
                        <td>
                            <a href="edit-contacts/<%= contacts.id %>">Editar</a>
                            <a href="delete-contacts/<%= contacts.id %>">Deletar</a>
                        </td>
                    </tr>
                    <% }); %>
                <% }); %>                       
            </table>
        </div>

    </div>
</body>
</html>