<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <title>Contatos</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>

    <%- include('partials/menu') %>
    <div class="content">        
        <div class="contacts-list">
            <h1>Lista de contatos</h1>
            <table class="contact-table">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th class="client-name">Cliente</th>
                    <th>Ações</th>
                </tr>
             
                    <% contact.forEach(function(contacts){ %>
                        <tr>
                            <td><%= contacts.id %></td>
                            <td><%= contacts.name %></td>
                            <td><%= contacts.phone %></td>
                            <td class="client-name"><%= contacts.cliName %></td>
                            <td>
                                <a href="edit-contacts/<%= contacts.id %>" class="edit">Editar</a>
                                <a href="delete-contacts/<%= contacts.id %>" class="delete">Deletar</a>
                            </td>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </div>
    </div>
</body>
</html>