<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">
    <title>Editando contatos</title>
</head>
<body>

    <%- include('partials/menu') %>

    <div class="content">
        <div class="form-register">
            <form action="/update-contacts" method="POST">
                <fieldset>
                    <input type="hidden" value="<%= contact.id %>" name="id">
                    <label for="name">Nome:</label>
                    <input type="text" name="name" placeholder="Informe o nome do cliente" value="<%= contact.name %>" required>
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" placeholder="Informe o e-mail" value="<%= contact.email %>" required>
                    <label for="phone">Telefone:</label>
                    <input type="number" onkeydown="return event.keyCode !== 69" name="phone" name="phone" placeholder="Informe o telefone" value="<%= contact.phone %>" required>
                    
                    <div class="buttons">
                        <button type="submit" id="btnSave">Salvar</button>
                        <a href="/contacts">Cancelar</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>